body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ebd7f3, #c48edb);
}

.container {
  background-color: #9f2f94;
  padding: 25px;
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-in-out;
}

h1 {
  margin: 20px 0 30px 0;
  text-align: center;
  color: white;
  font-size: 2rem;
  animation: spinIn 1s ease-in-out;
}

@keyframes spinIn {
  0% { transform: rotate(-360deg); opacity: 0; }
  100% { transform: rotate(0deg); opacity: 1; }
}

.inputline {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.inputline input {
  width: 100%;
  padding: 12px;
  border: 1px solid #7b6060;
  border-radius: 25px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
}

.inputline button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #7d1085;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  transition: 0.3s;
}

.inputline button:hover {
  background-color: #502a61;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  margin-bottom: 12px;
  background-color: #d3b5e1;
  font-size: 16px;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

li.completed {
  text-decoration: line-through;
  background-color: #d482b6;
}

li span {
  flex: 1;
  cursor: pointer;
}

.task-date {
  font-size: 12px;
  color: #5a3d5c;
  margin-right: 10px;
}

li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ff031c;
  font-size: 16px;
}

li button:hover {
  color: #4f0e48;
}

@media (min-width: 600px) {
  .inputline {
    flex-direction: row;
  }

  .inputline input {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .inputline button {
    width: auto;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
